body {
    font-family: Arial, sans-serif;
    background-image: url(img.jpg);
}

.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #381818;
}

.input-container {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ffffff;
    margin: 5px 0;
    padding: 5px;
    background-color: #fff;
}

button.edit {
    background-color: #28A745;
}

button.delete {
    background-color: #DC3545;
}
